body #wp-admin-bar-wp-logo, 
body #footer-thankyou,
body #footer-upgrade,
body .update-nag
{
	display:none;
}

body.admin-bar #wp-admin-bar-wp-logo {
	display:none;
}
.network-tree.parent {
	padding:10px;
	border:3px solid #000;
	position:absolute;
	z-index:1;
	border-radius:5px;
}
.network.container {
	width:90%;
	margin:0 auto;
	clear:both;
}
.network.container > .row {
	width:100%;
	float:left;
	margin-bottom:80px;
	position:relative;
}
.network.container > .row.bottom {
	margin-bottom:0;
}
.network.container > .row.one-col {
	width:100%;
}
.network.container > .row.two-col {
	width:50%;
}
.network.container > .row.four-col {
	width:25%;
}
.network.container > .row.eight-col {
	width:12.5%;
}
.network.container > .row > .box {
	width:100px;
	border:3px solid #D05757;
	margin:20px auto;
	background-color:#FFF;
	box-shadow:0px 0px 20px #C2BFBF;
	border-radius:10px;
	text-align:center;
	padding:20px;
	display:block;
	font-size:18px;
	z-index:100;
	position:relative;
	height:35px;
	vertical-align:middle;
	text-transform:uppercase;
}
.network.container > .row > .box.you {
	color: #000;
	font-weight:bold;
}
.network.container > .row > .box.good {
	border: 3px solid #1B962A;
}
.network.container > .row > .box.good > a {
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}
.network.container > .row > .box.good > a:hover {
	text-decoration:underline;
}
.network.container > .row > .box > .user-id {
	position:absolute;
	padding:5px 10px;
	border:3px solid #D05757;
	top:-15px;
	left:-15px;
	border-radius:10px;
	background-color:#FFF;
	color:#000;
}
.network.container > .row > .box.good.highlight,
.network.container > .row > .box.good.highlight > .user-id {
	border-color: red!important;
	box-shadow:0px 0px 20px #000;
}
.network.container > .row > .line {
	border-right:2px solid #000;
	border-bottom:2px solid #000;
	width:50%;
	height:165%;
	position:absolute;
	right:0;
	top:-140px;
	z-index:10;
}
.network.container > .row > .line.left {
	border-right: none;
	left:0;
}
.group-collections {
	padding: 20px 0;
}
.group-collections .group-item {
	width:230px;
	border:3px solid #0073aa;
	background-color:#FFF;
	box-shadow:0px 0px 20px #C2BFBF;
	border-radius:10px;
	text-align:center;
	padding:20px;
	display:block;
	font-size:20px;
	z-index:100;
	position:relative;
	height:35px;
	vertical-align:middle;
	text-transform:uppercase;
	margin:20px;
	float:left;
	text-decoration:none;
	color:#000;
}
.group-collections .group-item .count {
	font-size:14px;
	display:block;
}
.group-collections .icon {
	background: url(../images/fb-groups.png) no-repeat;
	display:block;
	width:64px;
	height:64px;
	position:absolute;
	top:-25px;
	left:-10px;
	z-index:101;
}
/* admin-color-fresh #222, #333, #0073aa, #00a0d2 */
body.admin-color-fresh .network.container .box {
	border-color:#00a0d2;
}
body.admin-color-fresh .network.container .box.good,
body.admin-color-fresh .network.container > .row > .box.good > .user-id {
	border-color:#333;
	background-color:#0073aa;
	color:#fff;
}
body.admin-color-fresh .network.container .line {
	border-color:#222;
}
body.admin-color-fresh .group-collections .group-item {
	border-color:#0073aa;
}
/* admin-color-light #e5e5e5, #999, #d64e07, #04a4cc */
body.admin-color-light .network.container .box {
	border-color:#d64e07;
}
body.admin-color-light .network.container .box.good,
body.admin-color-light .network.container > .row > .box.good > .user-id {
	border-color:#999;
	background-color:#e5e5e5;
	color:#000;
}
body.admin-color-light .network.container .line {
	border-color:#04a4cc;
}
body.admin-color-light .group-collections .group-item {
	border-color:#999;
}
/* admin-color-blue #096484, #4796b3, #52accc, #74B6CE */
body.admin-color-blue .network.container .box {
	border-color:#74B6CE;
}
body.admin-color-blue .network.container .box.good,
body.admin-color-blue .network.container > .row > .box.good > .user-id {
	border-color:#096484;
	background-color:#52accc;
	color:#fff;
}
body.admin-color-blue .network.container .line {
	border-color:#4796b3;
}
body.admin-color-blue .group-collections .group-item {
	border-color:#096484;
}
/* admin-color-coffee #46403c, #59524c, #c7a589, #9ea476 */
body.admin-color-coffee .network.container .box {
	border-color:#9ea476;
}
body.admin-color-coffee .network.container .box.good,
body.admin-color-coffee .network.container > .row > .box.good > .user-id {
	border-color:#59524c;
	background-color:#c7a589;
	color:#fff;
}
body.admin-color-coffee .network.container .line {
	border-color:#46403c;
}
body.admin-color-coffee .group-collections .group-item {
	border-color:#c7a589;
}
/* admin-color-ectoplasm #413256, #523f6d, #a3b745, #d46f15 */
body.admin-color-ectoplasm .network.container .box {
	border-color:#d46f15;
}
body.admin-color-ectoplasm .network.container .box.good,
body.admin-color-ectoplasm .network.container > .row > .box.good > .user-id {
	border-color:#413256;
	background-color:#a3b745;
	color:#fff;
}
body.admin-color-ectoplasm .network.container .line {
	border-color:#523f6d;
}
body.admin-color-ectoplasm .group-collections .group-item {
	border-color:#a3b745;
}
/* admin-color-midnight #25282b, #363b3f, #69a8bb, #e14d43 */
body.admin-color-midnight .network.container .box {
	border-color:#69a8bb;
}
body.admin-color-midnight .network.container .box.good,
body.admin-color-midnight .network.container > .row > .box.good > .user-id {
	border-color:#25282b;
	background-color:#e14d43;
	color:#fff;
}
body.admin-color-midnight .network.container .line {
	border-color:#363b3f;
}
body.admin-color-midnight .group-collections .group-item {
	border-color:#e14d43;
}
/* admin-color-ocean #627c83, #738e96, #9ebaa0, #aa9d88 */
body.admin-color-ocean .network.container .box {
	border-color:#aa9d88;
}
body.admin-color-ocean .network.container .box.good,
body.admin-color-ocean .network.container > .row > .box.good > .user-id {
	border-color:#627c83;
	background-color:#9ebaa0;
	color:#fff;
}
body.admin-color-ocean .network.container .line {
	border-color:#738e96;
}
body.admin-color-ocean .group-collections .group-item {
	border-color:#9ebaa0;
}
/* admin-color-sunrise #b43c38, #cf4944, #dd823b, #ccaf0b */
body.admin-color-sunrise .network.container .box {
	border-color:#ccaf0b;
}
body.admin-color-sunrise .network.container .box.good,
body.admin-color-sunrise .network.container > .row > .box.good > .user-id {
	border-color:#cf4944;
	background-color:#dd823b;
	color:#fff;
}
body.admin-color-sunrise .network.container .line {
	border-color:#b43c38;
}
body.admin-color-sunrise .group-collections .group-item {
	border-color:#dd823b;
}

.banner-header {
	display:block;
	padding:240px 20px 20px 20px!important;
	text-transform:uppercase;
	font-size: 40px!important;
	font-weight:bold!important;
	color:#FFF;
	text-shadow: 2px 2px 2px #000;
}
